
<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="dashboard-grid">
    <mat-card class="chart-card">
        <app-line-chart></app-line-chart>
    </mat-card>
    <mat-card class="availability-card">
      <app-device-availability></app-device-availability>
    </mat-card>
    <mat-card class="bar-card" >
      <app-progress-bar></app-progress-bar>
    </mat-card>
    <mat-card class = "activity-card"> 
      <app-device-activity></app-device-activity>
    </mat-card>
    <mat-card class="offline-card">
      <app-offline-devices></app-offline-devices>
    </mat-card>
    
  </div>
</div>